.card-search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86px;
}

.card-search input{
    width: 100%;
    height: 40px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #ffffff;
}

.card-search button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 40px;
}